*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main
{
    background: #212121;
    color: white;
    padding: 50px;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.box
{
    background-color: rgb(3, 3, 145);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 400px;
}
#pass-box
{
    font-size: 30px;
    background-color: #eee;
    color: #212121;
    padding: 10px;
    width:100% ;
    border-radius: 10px;
    margin-bottom: 20px;
}
.row
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 20px;
    user-select: none;
}
#total-char
{
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
}
#btn
{
    width: 100%;
    border: none;
    outline: none;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    padding: 10px;

}